

/* Drop Down Menu*/

#mySidenav a {
  position: absolute;
  right: -100px;
  transition: 0.3s;
  padding: 15px;
  width: 120px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  border-radius: 0 5px 5px 0;
  font: Georgia, serif
}

#mySidenav a:hover {
  right: 0;
}

#Home {
  top: 20px;
  background-color: #7a0019;
}

#Leadership {
  top: 80px;
  background-color: #ffcc33;
}

#Advising {
  top: 165px;
  background-color: #7a0019;
}

#Diversity {
  top: 299px;
  background-color: #ffcc33;
}

#Career{
  top: 410px;
  background-color: #7a0019;
}

/*Header */

.header {
  background-color: transparent;
  padding: 20px;
  text-align: center; }


  body{}
    h1 {
      font-family: Georgia, serif;
      color: black;
      font-size: 50px;
      text-align: center;}

    h4 {
      font-family: verdana;
      color: black;
      font-size: 15px;
      text-align: left;}

    h3 {
        font-family: verdana;
        color: #ffcc33;
        font-size: 25px;
        text-align: left;
  }

footer{}
  h2 {
    font-family: Georgia, serif;
    color: #D4AF37;
    font-size: 35px;
    text-align: center;}

    p {
      font-family: verdana;
      color: black;
      font-size: 15px;
      text-align: center;}


/* Links*/

  a{ color: black}
  a:hover {color: #7a0019; }
  a:link {text-decoration: none; }
